**/panos*
**/*.swp
**/*.min.js
**/*.bundle.js
local/*
!local/README.txt
private/*
!private/README.txt
node_modules/*

www/main.css

www/lib/pandora.css

www/bundle.js

www/isodos/bundle.js

www/test/bundle.js
