panos[0-9]*
*.sw?
*.sv
*.min.js
bundle.js
jsmin.jar
/local/*
!local/README.txt
/private/*
!private/README.txt
node_modules/*

www/main.css
www/lib/pandora.css
www/lib/pandoraPrint.css

www/bundle.js

www/isodos/bundle.js

www/test/bundle.js
