///////////////////////////////////////////////////////////////////////////////@
//
// @BEGIN
//
// @COPYRIGHT BEGIN
// Copyright (C) 2020 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
// @COPYRIGHT END
//
// @FILETYPE BEGIN
// stylus
// @FILETYPE END
//
// @FILE BEGIN
// www/lib/pandora.styl —— Default "pandora" css specifications
// @FILE END
//
// @HISTORY BEGIN
// Updated: 2020-03-07
// Updated: 2020-03-06
// Updated: 2020-02-20
// Updated: 2020-02-05
// Updated: 2020-01-17
// Created: 2020-01-13
// @HISTORY END
//
// @END
//
////////////////////////////////////////////////////////////////////////////////

html
	height 100%

body
	position relative
	height 100%
	margin 0px

	font-family 'Georgia', serif
	font-size 18px

////////////////////////////////////////////////////////////////////////////////

.toolbar
	padding-bottom 4px

	border-style none none solid none
	border-width 2px
	border-color #888888

	> table > tr
		vertical-align: bottom;

		> td
			white-space nowrap

			div
				display inline-block

.ribbon
	padding-top 4px

	border-style solid none none none
	border-width 2px
	border-color #888888

	> table > tr
		vertical-align top

		> td
			white-space nowrap

			div
				display inline-block

.trTable
	border-collapse collapse
	width 100%
	height 100%

.trLeft
	width 49.9999%
	text-align left

.trCenter
	width 0.0002%;
	text-align center

.trRight
	width 49.9999%
	text-align right

////////////////////////////////////////////////////////////////////////////////

.fyi
	visibility hidden

	padding 2px
	height 1.2em

	font-style italic
	background-color #ffff80
	box-shadow 0px 1px 4px #cecece

.fyiMessage
	color navy

.fyiError
	color #cc0000

////////////////////////////////////////////////////////////////////////////////

.ofelimo
	display block
	padding 8px
	overflow-y scroll

////////////////////////////////////////////////////////////////////////////////

.forma
	display inline-block
	padding 10px
	background-color #f3f3f3

	border-style solid
	border-width 1px
	border-color #b7b7b7
	border-radius 10px

	box-shadow 2px 2px 4px #8888

.inputTable
	font-size 100%

.protropi
	text-align right
	padding-right 4px
	font-style italic

.pedio
	text-align left

	> input
		padding-left 2px
		font-family 'Roboto Condensed', sans-serif
		font-size 100%

////////////////////////////////////////////////////////////////////////////////
	
.karta
	display inline-block
	vertical-align top

	margin 2px
	padding 2px

	background-color #fff8ed

	border-style solid
	border-width 1px
	border-color #bdbdbd

.kartaRow
	display table-row

.kartaSec
	display none

.kartaCol
	vertical-align top
	text-align right

	color #444444

.kartaVal
	vertical-align top
	padding-left 2px

	font-weight bold
	background-color #fdfdfd

	border-style none none solid solid
	border-width 1px
	border-color #e4e4e4

////////////////////////////////////////////////////////////////////////////////

.paleta
	position relative
	display inline-block

	margin 4px
	padding 4px
	text-align center

	background-color darkgray

	border-style solid
	border-width 1px
	border-color grey
	border-radius 10px

.paletaInput
	visibility hidden
	position absolute
	top 0
	left 0
	width 0px
	height 0px
	font-size 0px

.paletaInputVisible
	visibility visible
	position relative
	top auto
	left auto

	width 97%
	height auto
	font-size 12px

	border-radius 5px

.paletaGrami
	display block
	white-space nowrap
	text-align center

.paletaGramiTools
	display block

.paletaPliktroContainer
	display inline-block
	padding 2px 4px

.paletaPliktro
	padding 2px

	width 32px
	height 32px
	text-align center
	vertical-align middle

	font-size 30px
	font-family 'Garamont', serif
	font-weight bold

	color #1f3750
	background-color ivory
	text-shadow 1px 1px 2px #888

	border-style outset
	border-width 2px
	border-color grey
	border-radius 6px

	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.paletaPliktroHover
	color #1d0808
	text-shadow 1px 1px 0px #563813
	background-color #ffffbe
	box-shadow 1px 1px 1px #4f1f9c, -1px -1px 1px #72709a

	cursor pointer

.paletaPliktroSpecial
	width auto
	margin 0px 2px
	padding 2px 12px

	background-color palegoldenrod

////////////////////////////////////////////////////////////////////////////////

.paletaKeyboardStripteaseKey
	width auto

.paletaSpaceKey
	font-family "Roboto Condensed", monospace
	font-weight normal

	width 3em
	margin 2px 0px
	background-color ivory

.paletaKeyboardSwitchKey
	font-family monospace
	color maroon

.paletaZoomModeKey
	width 30px
	color darkolivegreen

.paletaBackspaceKey
	color #193a37

.paletaClearKey
	color red

.paletaRecallKey
	color blue

.paletaSubmitKey
	color midnightblue

////////////////////////////////////////////////////////////////////////////////

.paletaMonitor
	margin 4px
	padding 2px

	min-height 36px
	text-align left

	font-size 30px
	font-family 'Garamont', serif
	font-weight bold

	background-color ivory

	border-style outset
	border-width 2px
	border-color grey
	border-radius 6px

	cursor pointer

.paletaMonitorScrambled
	padding 12px
	font-size 10px
	letter-spacing 15px
	min-height 16px

	color transparent !important
	text-shadow 1px 1px 8px black, -1px -1px 8px black,
		1px -1px 8px black, -1px 1px 8px black,
		1px 0px 8px black, 0px 1px 8px black,
		-1px 0px 8px black, 0px -1px 8px black

.paletaZoomGrami
	margin 4px
	padding 2px

	text-align left

	font-size 30px
	font-family 'Roboto Condensed', 'Verdana', sans-serif
	font-weight normal

	background-color #ffff80

	border-style outset
	border-width 2px
	border-color grey
	border-radius 6px

	cursor pointer

////////////////////////////////////////////////////////////////////////////////

.paletaRafi
	position relative
	margin 4px

	text-align left

	font-size 30px
	font-family 'Roboto Condensed', 'Verdana', sans-serif
	font-weight normal

	-webkit-user-select none
	-ms-user-select none
	user-select none

.paletaRafiMeTitlo
	margin-top 26px
	padding-top 20px

.paletaRafiContent
	position relative
	overflow-y hidden

	text-align left
	background-color palegoldenrod

	border-style solid
	border-width 1px 2px 2px 1px
	border-color grey
	border-radius 6px

.paletaRafiContentMeTitlo
	top -20px
	padding-top 20px

.paletaRafiTitlos
	position absolute
	top -20px
	left 0px

	display inline-block
	padding 2px 4px

	font-size 26px
	background-color palegoldenrod

	border-style solid
	border-width 1px
	border-color gray
	border-radius 6px

.paletaRafiTitlos:hover
	padding 0px 2px
	color #002d48
	background-color #ffb939
	text-shadow 0px 0px 1px #000000
	border-style ridge
	border-color #ff9f00
	border-width 3px
	box-shadow 2px 2px 6px #4e4e4e
	cursor pointer

////////////////////////////////////////////////////////////////////////////////

.paletaCandi
	font-weight bold

	color #002d48
	background-color #ffb939

////////////////////////////////////////////////////////////////////////////////

.flip180
	transform rotate(180deg)
