///////////////////////////////////////////////////////////////////////////////@
//
// @BEGIN
//
// @COPYRIGHT BEGIN
// Copyright (C) 2020 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
// @COPYRIGHT END
//
// @FILETYPE BEGIN
// css
// @FILETYPE END
//
// @FILE BEGIN
// www/lib/pandoraDebug.css —— Debug "pandora" css specifications
// @FILE END
//
// @HISTORY BEGIN
// Updated: 2020-03-07
// Created: 2020-02-05
// Created: 2020-01-15
// @HISTORY END
//
// @END
//
////////////////////////////////////////////////////////////////////////////////

html
	background-color: red

body
	background-color: cadetblue

.ofelimo
	background-color: moccasin

.toolbar
	background-color: crimson
	border-color: midnightblue

.ribbon
	background-color: crimson
	border-color: midnightblue

.trLeft
	background-color: coral

.trCenter
	background-color: gold

.trRight
	background-color: coral

.paleta
	background-color: darkSeaGreen

.paletaRafi
	background-color: gold
